{% extends '/public/templates/base.html'%} {% block title %} Sign in {%
endblock%} {% block style %}
<style>
  .form-sign_in {
    text-align: center;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-sign_in input {
    margin-bottom: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-sign_in input[type="password"] {
    margin-bottom: 10px;
  }
  .alert-custom {
    max-height: 20px;
    background-color: #ffdb9b;
    padding: 15px 30px;
    border-radius: 4px;
    border-left: 8px solid #ffd080;
    border-right: 8px solid #ffd080;
    color: #ce8500;
    text-align: center;
    font-size: auto;
  }
  .form-checkbox-custom {
    float: right;
    margin-bottom: 10px;
  }
</style>
{% endblock %} {%block main %}
<div class="form-sign_in">
  <form action="" method="POST">
    {{ form.csrf_token }}
    <img
      src="{{url_for('static', filename='/img/settings_icon.png')}}"
      alt=""
    />
    <div class="row">
      <div class="col">
        <h1 class="fw-normal text-muted">Sign in</h1>
        <hr />
      </div>
    </div>
    <div class="form-floating">
      {{ form.email(class="form-control", placeholder="example@gmail.com")}}
      <label>{{ form.email.label }}</label>
      {% if form.email.errors %} {% for error in form.email.errors %}
      <div
        class="w-100 alert alert-warning alert-dismissible fade show"
        role="alert"
      >
        <img
          src="{{url_for('static', filename='img/attention.png') }}"
          alt=""
        />
        {{ error }}
        <button
          type="button"
          class="btn-close text-left"
          aria-label="Close"
          data-bs-dismiss="alert"
        ></button>
      </div>

      {% endfor %} {% endif %}
    </div>
    <div class="form-floating">
      {{ form.password(class="form-control", placeholder="Password") }}
      <label>{{ form.password.label }}</label>
      {% if form.password.errors %} {% for error in form.password.errors %}
      <div
        class="w-100 alert alert-warning alert-dismissible fade show"
        role="alert"
      >
        <img
          src="{{url_for('static', filename='img/attention.png') }}"
          alt=""
        />
        {{ error }}
        <button
          type="button"
          class="btn-close text-left"
          aria-label="Close"
          data-bs-dismiss="alert"
        ></button>
      </div>
      {% endfor %} {% endif %}
    </div>
    <div class="form-check form-switch form-checkbox-custom">
      {{ form.remember_me(class="form-check-input") }} {{
      form.remember_me.label(class="form-check-label") }}
    </div>
    {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
  </form>
</div>
{% endblock %}
