{% extends 'public/templates/base.html' %}

<!-- TITLE -->
{% block title %} Profile {% endblock %}

<!-- STYLE CSS -->
{% block style %}
<style></style>
{% endblock %}

<!-- MAIN -->
{% block main %} {% if user == current_user %}
<div class="section text-center p-5 text-dark">
  <div class="cointainer">
    <div class="d-sm-flex">
      <div
        class="card"
        style="
          background-color: #30d5c8;
          border-radius: 10px;
          padding: 40px;
          z-index: 100;
          justify-self: flex-end;
        "
      >
        <div class="card-header">Request with your problem</div>
        <div class="card-body">
          <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
              {{form.firstname.label(class="form-label")}}
              {{form.firstname(class="form-control")}}
              {{form.lastname.label(class="form-label")}}
              {{form.lastname(class="form-control")}}
              {{form.description.label(class="form-label")}}
              {{form.description(class="form-control", rows="5")}}
              {{form.submit(class="btn btn-primary w-50 mt-2")}}
            </div>
          </form>
        </div>
      </div>
      <div class="col">
        <img
          src="{{ url_for('static',filename='img/user.png') }}"
          alt=""
          witdh="128"
          height="128"
          class="rounded-circle d-block mx-auto"
        />
        <h1 class="fw-normal">{{ current_user.username }}</h1>
        <hr />
        <!-- add waiting patients -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nr</th>
              <th scope="col">Firstname</th>
              <th scope="col">Lastname</th>
              <th scope="col">Your status</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% if patients %} {% for patient in patients %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ patient.firstname }}</td>
              <td>{{ patient.lastname }}</td>
              <td>
                {% if patient.status %} Ready {% else %} Waiting {% endif %}
              </td>
              <td>{{ moment(patient.timestamp).format("LLL") }}</td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
<!-- SCRIPT -->
{% block script %} {{ super() }} {{ moment.include_moment() }} {% endblock%}
